button.toggle_mnu
nav.mnu.container
	.row.h-100
		.container.wrap
			.row.r-top
			.row.r-mid.justify-content-end
				ul
					li
						a(href="#" id="offer") 
							p
								| offer
							span
					li
						a(href="#" id="social") 
							p
								| social
							span
					li
						a(href="#" id="contact")
							p 
								| contact
							span
			.row.r-bot.justify-content-end
				.align-self-end
					.policy
						a(href="#") private policy | 
						a(href="#") site map
					.copy
						p © Copyright 2005-2018 93AGENCY
						p Crafted by plotnik
					.follow
						p Follow us on social network
						.icons
							div
								a(href="#")
									img(src="img/twitter50.svg", alt="")
							div
								a(href="#")
									img(src="img/facebook50.svg", alt="")
							div
								a(href="#")
									img(src="img/linkedin50.svg", alt="")