button.toggle_mnu
nav.top_mnu.container
	.row.row-flex
		.r-wrap
			.r-top
			.r-mid-1
				ul
					li
						a(href="#" id="offer") 
							p
								| offer
							span
					li
						a(href="#" id="social") 
							p
								| social
							span
					li
						a(href="#" id="contact")
							p 
								| contact
							span
			.r-mid
				.r-mid-2
					p
						|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut 
				.r-mid-3
					p
						|Looking for other services?
					p
						a(href="#") find it here
						img(src="../img/pointer.png", alt="")
				.r-bot
					p
						| BOT Lorem ipsum dolor sit amet, aliquip ex