<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
	link(rel="stylesheet", href="../css/main.css")
	title Agency
body
	header.main-head.container-fluid

		button.toggle_mnu
	
		nav.top_mnu.container
			.row.row-flex
				.r-wrap
					.r-top
					.r-mid-1
						ul
							li
								a(href="#" class="") 
									p
										| Обо мне
									span
							li
								a(href="#" class="") 
									p
										| Резюме
									span
							li
								a(href="#" class="")
									p 
										| Портфолио
									span
							li
								a(href="#" class="")
									p 
										| Контакты
									span
					.r-mid
						.r-mid-2
							p
								|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut 
						.r-mid-3
							p
								|Looking for other services?
							p
								a(href="#") find it here
								img(src="../img/pointer.png", alt="")
						.r-bot
							p
								| BOT Lorem ipsum dolor sit amet, aliquip ex

		.row.align-items-center.row-flex
			.col-lg-4.col-md-4.left-col
				.row.row-flex
					.container.l-wrap
						.l-logo
							a(href="#")
								img(src="../img/logo.jpg" class="img")
						.l-mid-1
							p
								|what we're good at ...
						.l-mid-2
							p
								|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud ercitation ullamco laboris nisi ut aliquip ex 
						.l-mid-3
							p
								|Looking for other services?
							p
								a(href="#") find it here
								img(src="../img/pointer.png", alt="")
						.l-bot
							p
								| BOT Lorem ipsum dolor sit amet, aliquip ex

			.col-lg-8.col-md-8.right-col
				.row.align-items-center.row-flex
					ul
						li
							| editoriale<br> and writing 
							img(src="../img/pointer.png" class="pointer animated")
						li
							| powerpoint<br> and animation 
							img(src="../img/pointer.png" class="pointer animated")
						li
							| audio and video<br> production 
							img(src="../img/pointer.png" class="pointer animated")
						li
							| digital<br> production 
							img(src="../img/pointer.png" class="pointer animated")
			



		script(src="../scripts.min.js")