<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
	link(rel="stylesheet", href="../css/main.css")
	title Agency
body
	header.main-head.container-fluid
		.row.align-items-center.row-flex
			.col-lg-4.col-md-4.left-col
				.row.row-flex
					.container.l-wrap
						.logo
							img(src="../img/logo.jpg" class="img")
						.mid-1
							p
								|what we're good at ...
						.mid-2
							p
								|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud ercitation ullamco laboris nisi ut aliquip ex 
						.bot
							p
								|Looking for other services?
							p
								|find it here 
								img(src="../img/pointer.png", alt="")
			.col-lg-8.col-md-8.right-col
				.row.align-items-center.row-flex
					ul
						li
							| editoriale<br> and writing 
							img(src="../img/pointer.png" class="pointer animated")
						li
							| powerpoint<br> and animation 
							img(src="../img/pointer.png" class="pointer animated")
						li
							| audio and video<br> production 
							img(src="../img/pointer.png" class="pointer animated")
						li
							| digital<br> production 
							img(src="../img/pointer.png" class="pointer animated")
			



		script(src="../scripts.min.js")