<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
	link(rel="stylesheet", href="../css/main.css")
	title Agency
body
	header.main-head.container-fluid

		include includes/menu.pug
		
		.logo
			a(href="#")
				img(src="../img/logo.jpg" class="img")

		.other-services
			p
				|Looking for other services?
			p
				a(href="#") find it here
				img(src="../img/pointer.png", alt="")

		.fixed-text
			| agency
			.text.active-1

		//- .main
		//- 	div
		//- 		h1
		//- 			| Agency
		//- 	div
		//- 		h1
		//- 			| Agency
		//- 	div
		//- 		p
		//- 			| your ideas in a different way!

		.row.content

		script(src="../scripts.min.js")