<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
	link(rel="stylesheet", href="../css/main.css")
	title Agency
body
	header.main-head.container-fluid

		include menu.pug

		.fixed-text
			| agency
			.text.active-1

		.row
			.col-lg-4.col-md-4.left-col

				.row
					.container.l-wrap
						.l-logo
							a(href="#")
								img(src="../img/logo.jpg" class="img")
						.l-mid-1
							p(class="str-references")
								|what we're good at ...
							p(class="str-about")
								|about ...
							p(class="str-contact")
								|contact ...
						.l-mid-2
							p(class="str-references")
								|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut
							p(class="str-about")
								|Sit voluptatem accusantium doloremque laudantium, totam rem 
							p(class="str-contact")
								|Fugiat nulla pariatur! Ut enim ad minim veniam, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum 
						.l-mid-3
							p
								|Looking for other services?
							p
								a(href="#") find it here
								img(src="../img/pointer.png", alt="")
						.l-bot
							p
								| BOT Lorem ipsum dolor sit amet, aliquip ex

			.col-lg-8.col-md-8.right-col
				.row.align-items-center.row-100vh
					ul
						li
							| editoriale<br> and writing 
							img(src="../img/pointer.png" class="pointer animated")
						li
							| powerpoint<br> and animation 
							img(src="../img/pointer.png" class="pointer animated")
						li
							| audio and video<br> production 
							img(src="../img/pointer.png" class="pointer animated")
						li
							| digital<br> production 
							img(src="../img/pointer.png" class="pointer animated")
			


		script(src="../scripts.min.js")