<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="../css/main.css")
	title AgencyPRO
body
	div
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe mollitia veritatis consectetur sequi voluptate velit, quos, temporibus eveniet. Nobis suscipit, nemo neque sint illo. Officia non vero beatae voluptas excepturi! 
		br 
		script(src="../js/common.js")