<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="../css/main.css")
	title Agency
body
	header#main_head
		.container
			.row
				.col-md-3
				.col-md-6
				.col-md-3

	

		script(src="../js/common.js")