// Большие девайсы (большие десктопы, < 1200px)
@media (max-width: 1199.98px)
	///////////////////////////////////		
	// Menu
	///////////////////////////////////	
	.top_mnu	
		max-width: 100%
		width: 300px
		font-size: 1em

	///////////////////////////////////		
	// Фиксированный текст
	///////////////////////////////////
	.fixed-text		
		right: -235px
		
	///////////////////////////////////		
	// Общая структура
	///////////////////////////////////	
	// .content	
		// font-size: 1em
	
	///////////////////////////////////		
	// Main page
	///////////////////////////////////
	.main		
		div			
			top: 25%
			&:nth-child(1)								
				h1					
					line-height: 1.7em
			&:nth-child(2)							
				h2
					font-size: 18em					
			&:nth-child(3)								
				left: 100px			
				line-height: 660px //костыль

// Большие девайсы (десктопы, >= 992px)
@media (max-width: 991.98px)
	///////////////////////////////////		
	// Logo
	///////////////////////////////////
	// .logo		
	// 	left: 20px
	// 	.img
	// 		width: 80px

	///////////////////////////////////		
	// Menu
	///////////////////////////////////
	.toggle_mnu		
		right: 0	

	.top_mnu	
		max-width: 100%
		width: 40vw

	// .r-wrap
	// 	margin-right: 15px			
	// 	.r-top		
	// 		height: 25vh
	// 	.r-mid-1
	// 		height: 30vh			
	// 	.r-mid-2
	// 		height: 22vh
	// 		display: none
	// 	.r-bot
	// 		right: 15px						
		
	///////////////////////////////////		
	// other-services
	///////////////////////////////////
	.other-services
		width: 100% 	
		bottom: 0
		left: 0
		padding: 10px
		background-color: $bg-color
		p
			display: inline-block
			margin: 0	

	///////////////////////////////////		
	// Фиксированный текст
	///////////////////////////////////
	.fixed-text
		display: none

	///////////////////////////////////		
	// Общая структура
	///////////////////////////////////	
	// .content
	// 	font-size: 1em
	// 	.left-col
	// 		.l-wrap
	// 			padding: 0 20px 0 20px	
	// 			margin: 120px 0 0
	// 			.l-top
	// 			.l-mid-1
	// 				height: auto	
	// 			.l-mid-2
	// 				font-weight: 300
	// 	.right-col
	// 		.r-wrap
	// 			margin: 120px 0 0

	// ///////////////////////////////////		
	// // Main page
	// ///////////////////////////////////
	// .main		
	// 	div			
	// 		top: 25%	
	// 		&:nth-child(1)								
	// 			h1									
	// 				font-size: 7em
	// 				line-height: 2em
	// 		&:nth-child(2)							
	// 			h2										
	// 				font-size: 9em					
	// 		&:nth-child(3)								
	// 			left: 50px				
	// 			line-height: 340px
	// 			p					
	// 				font-size: 1em

// Средние девайсы («таблетки», >= 768px)
@media (max-width: 767.98px)
	///////////////////////////////////		
	// Пусто
	///////////////////////////////////		
	
// Малые девайсы («ландшафтные телефоны», >= 576px)
@media (max-width: 575.98px)
	///////////////////////////////////		
	// Logo
	///////////////////////////////////
	.logo		
		font-size: .8em
		left: 0

	///////////////////////////////////		
	// Menu
	///////////////////////////////////	
	.top_mnu			
		width: 100vw	
		.r-wrap		
			margin-right: 1em	
			.r-bot
				right: 1em			

	///////////////////////////////////		
	// Общая структура
	///////////////////////////////////	
	.content
		font-size: .9em		
		.left-col			
			height: 40vh
			position: fixed	
			.l-wrap
				margin: 7em 0 0				
				.l-mid-1
					margin: auto				
		.right-col		
			min-height: 60vh				
			padding-bottom: 2em
			top: 35vh		
			.r-wrap
				font-size: .9em
				margin: 2em 0 0				
			
	///////////////////////////////////		
	// Main page
	///////////////////////////////////
	#main		
		font-size: .35em
		

// Custom Media Queries 
@media (max-width: 370px)	
	//			

@media (max-height: 374px)
	///////////////////////////////////		
	// Фиксированный текст
	///////////////////////////////////	
	.fixed-text
		display: none	

	///////////////////////////////////		
	// Logo
	///////////////////////////////////
	.logo		
		font-size: .8em
		left: 0

	///////////////////////////////////		
	// Общая структура
	///////////////////////////////////	
	.content
		font-size: .9em
		.left-col
			height: 35vh
			position: fixed				
			.l-wrap
				width: 70vw	
				margin: auto				
				.l-mid-1
					margin-top: 5vh			
					height: auto	
					font-weight: 600
				.l-mid-2
					width: 65vw
					font-weight: 300
		.right-col
			font-size: .8em		
			.r-wrap				
				margin: 1em 0 0		

	///////////////////////////////////		
	// Menu
	///////////////////////////////////
	.toggle_mnu		
		right: 0

	.r-wrap		
		.r-top		
			height: 30vh
		.r-mid-1
			font-size: 1em			
		.r-mid-2
			display: none
		
	///////////////////////////////////		
	// Main page
	///////////////////////////////////
	#main		
		font-size: .6em
		