// Большие девайсы (большие десктопы, < 1200px)
@media (max-width: 1199.98px)	
	// Main page
	#main
		font-size: .7em
	
// Большие девайсы (десктопы, >= 992px)
@media (max-width: 991.98px)
	// Logo	
	.logo
		font-size: .8em		

	// Menu	
	.toggle_mnu		
		right: 0	
	
	.mnu		
		.wrap
			margin-right: 1em	
		
	// other-services
	.other-services
		width: 100% 	
		bottom: 0
		left: 0
		padding: 10px
		background-color: $bg-color
		p
			display: inline-block
			margin: 0	
		
	// Фиксированный текст
	.fixed-text
		display: none

	//content
	.content
		.left-col
			.l-wrap
				margin: 10em 0 0	
	
// Средние девайсы («таблетки», >= 768px)
@media (max-width: 767.98px)
	// Logo
	.logo				
		left: 0

	// Menu	
	.mnu		
		.wrap
			font-size: .9em
			.r-bot

	// Main page
	#main
		font-size: .6em			

// Малые девайсы («ландшафтные телефоны», >= 576px)
@media (max-width: 575.98px)
	// Menu	
	.top_mnu			
		width: 100vw	
		.r-wrap	
			font-size: 1.2em	
			.r-mid-2
				// font-size: .6em		
			.r-bot
				right: 1em		

	// Общая структура
	.content
		font-size: .9em		
		.left-col			
			height: 40vh
			position: fixed	
			.l-wrap
				margin: 7em 0 0				
				.l-mid-1
					margin: auto				
		.right-col		
			min-height: 60vh				
			padding-bottom: 2em
			top: 40vh		
			.r-wrap
				font-size: .9em
				margin: 2em 0 				
	
	// Main page
	#main		
		font-size: .25em

// Custom Media Queries 
@media (max-width: 370px)
	///////////////////////////////////	
	// Contact page
	///////////////////////////////////
	.right-col-contact .item:nth-child(4) .group    
		width: 100%

	// Main page
	#main
		font-size: .3em	

@media (max-height: 335px)
	// Фиксированный текст
	.fixed-text
		display: none
	
	// Logo	
	.logo
		font-size: .8em
		left: 0
	
	// Общая структура
	.content
		font-size: .9em
		.left-col
			position: fixed
			.l-wrap
				width: 70vw
				margin: auto
				.l-mid-1
					margin-top: 5vh
					height: auto
					font-weight: 600
				.l-mid-2
					width: 65vw
					font-weight: 300
		.right-col			
			padding-bottom: 4em
			.r-wrap
				margin: 1em 0 0

	// Menu
	.toggle_mnu
		right: 0

	.r-wrap
		.r-top
			height: 30vh
		.r-mid-2
			display: none

	// Main page
	#main
		font-size: .55em

	// Offer page
	#offer		
		.right-col-offer ul li
			font-size: 1.2em