.toggle_mnu	
	width: 5em
	height: 5em
	position: fixed
	z-index: 100
	border: none
	right: 5em
	top: 0
	background-color: $accent-color
	cursor: pointer
	color: #fff
	font-size: .9em
	font-weight: 900
	text-transform: uppercase
	padding-top: 1.5em
	animation: pulse 2s infinite
	z-index: 50
	&:hover 
		animation: none
	
.not-active
	&::after
		content: "menu"
.active
	&::after
		content: "close"

.mnu
	position: fixed
	display: none
	width: 20em
	height: 100%	
	right: 0
	top: 0
	// font-size: 1.1em
	text-align: right	
	background-color: rgba(31, 35, 53, 0.85)	
	z-index: 3

	.wrap
		width: 100%
		margin-right: 5em		
		.r-top		
			height: 30vh
		.r-mid
			height: 20vh		
			ul, li
				list-style-type: none
				// width: 100%
				font-size: 1.2em
			ul			
				padding: 0
				margin: 0
				li
					text-align: right				
					&:nth-child(1) a						
						animation-delay: 0s
					&:nth-child(2) a						
						animation-delay: 0.1s
					&:nth-child(3) a						
						animation-delay: 0.2s					
				a				
					display: block
					text-transform: uppercase
					font-size: .9em
					font-weight: 900
					position: relative
					height: 2em				
					&:hover
						color: $accent-color	
					p
						margin: 0
						padding: 0	
		.r-bot
			font-size: .6em
			height: 50vh		
			animation-delay: 0.5s
			.policy	
				text-transform: uppercase			
				font-weight: 300
				margin-bottom: .6em		
				a
					color: #888	
			.copy	
				p
					&:nth-child(1)
						margin-bottom: 0
					&:nth-child(2)
						text-transform: uppercase	
						margin-bottom: 1.5em
			.follow	
				p
					margin-bottom: .6em
				.icons
					width: 15em
					float: right			
					border-top: 1px solid $accent-color
					padding-bottom: 1em
					div
						display: inline-block		
						// height: 2.5em		
						+mt(.3s)				
						&:hover
							background-color: $accent-color	
						img
							width: 2.5em
							padding: .5em	
	.r-bot	
		animation-delay: 1s	

@keyframes pulse  
	0%    
		box-shadow: 0 0 0 0 rgba(255, 127, 146, .5)
	70%    
		box-shadow: 0 0 0 7px rgba(237, 35, 64, 0)
	100%    
		box-shadow: 0 0 0 0 rgba(237, 35, 64, 0)