@import "color"
@import "libs"
@import "vars"
@import "mnu"
	
*
	text-decoration: none !important		

body	
	background-color: $bg_color
	color: $text-color
	font-size: 16px
	font-family: Arial, sans-serif

a
	color: #fff
	+mt(.5s)
	&:hover
		color: $accent-color			

.l-wrap
	width: 60%	
	text-align: left
	.l-logo
		width: 100%
		height: 20vh		
		.img
			width: 100px				
.l-mid-1 
	width: 100%
	height: 40vh
	font-weight: 900	
	color: $accent-color
	text-transform: uppercase			
.l-mid-2, .r-mid-2	
	margin: 0 auto
	height: 15vh
	font-size: .9em
	font-weight: 600
.l-mid-3, .r-mid-3
	height: 10vh
	font-size: .8em		
	p
		margin-bottom: 5px
		&:nth-child(2)	
			text-transform: uppercase
			font-weight: 600	
		img
			width: 6px
			padding-bottom: 2px	
			margin-left: 5px
.l-bot, .r-bot		
	height: 15vh
					

.main-head
	min-height: 100vh
	// overflow: hidden
	.row-flex	
		height: 100vh					
		.left-col				
			background-image: url(../img/bg_main_left.jpg)
			background-size: cover	
			text-align: center
		.right-col				
			background-image: url(../img/bg_main_right.jpg)
			background-size: cover
		
			ul
				width: 100%
				li
					list-style-type: none
					font-size: 1.7em
					font-weight: 900
					line-height: 1
					text-transform: uppercase
					padding: 30px 25px			
					border-bottom: 2px solid rgba(0, 0, 0, 0)
					+mt(.5s)		
					&:hover
						border-bottom: 2px solid $accent-color
						box-sizing: border-box
						color: $accent-color
						background-color: rgba(31, 35, 53, 0.65)

					.pointer	
						float: right
	


				


