@import "color"
@import "libs"
@import "vars"
@import "fixed-text"
@import "mnu"
	
*
	text-decoration: none !important		

body	
	background-color: $bg_color
	color: $text-color
	font-size: 16px
	font-family: Arial, sans-serif

a
	color: #fff
	+mt(.5s)
	&:hover
		color: $accent-color	

.logo, .other-services
	position: fixed
	left: 85px
	z-index: 1 

.logo	
	left: 80px	
	.img
		width: 100px		

.other-services	
	bottom: 50px
	p
		margin: 0
	img
		width: 6px	
		margin-left: 6px		

.l-wrap
	width: 60%	
	text-align: left

.l-top
	height: 20vh			
.l-mid-1 
	width: 100%
	height: 40vh
	font-weight: 900	
	color: $accent-color
	text-transform: uppercase			
.l-mid-2, .r-mid-2	
	margin: 0 auto
	height: 15vh
	font-size: .9em
	font-weight: 600
.r-mid-3
	height: 10vh
	font-size: .8em		
	p
		margin-bottom: 5px
		&:nth-child(2)	
			text-transform: uppercase
			font-weight: 600	
		img
			width: 6px
			padding-bottom: 2px	
			margin-left: 5px
.r-bot		
	height: 15vh
					

.main-head
	height: 100vh	
	.row-100vh	
		height: 100vh
	.left-col, .right-col		
		background-size: cover
		height: 100vh	
		ul
			width: 100%				
			li
				list-style-type: none
				font-size: 1.7em
				font-weight: 900
				line-height: 1
				text-transform: uppercase
				padding: 30px 100px	30px 25px		
				border-bottom: 2px solid rgba(0, 0, 0, 0)
				+mt(.5s)		
				&:hover
					border-bottom: 2px solid $accent-color
					box-sizing: border-box
					color: $accent-color
					background: rgba(31, 35, 53, 0.65)
					background: linear-gradient(to top, rgba(31, 35, 53, 0.6509803921568628), rgba(237, 35, 64, 0))
				.pointer	
					float: right

.left-col-references				
	background-image: url(../img/bg_main_left.jpg)		
.left-col-social		
	background-image: url(../img/bg_main_left_social.jpg)	


		
.right-col-references				
	background-image: url(../img/bg_main_right.jpg)				


					
		

				


