.loader.loader-page
	.loader-in
		| Loading
		span

.other-services
	p Looking for other services?
	p
		a(href="#") find it here
		img(src="../img/pointer.png", alt="", class="point")

.row.fadeIn.animated

	.fixed-text
		| agency
		.text.active-offer-page

	.col-sm-4.left-col.left-col-offer
		.row
			.container.l-wrap
				
				.l-mid-1
					p what we're good at ...
				.l-mid-2
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut
	.col-sm-8.right-col.right-col-offer
		.row.align-items-center.no-gutters
			.r-wrap
				ul
					li
						| editoriale<br> and writing 
						img(src="../img/pointer.png" class="pointer animated")
					li
						| powerpoint<br> and animation 
						img(src="../img/pointer.png" class="pointer animated")
					li
						| audio and video<br> production 
						img(src="../img/pointer.png" class="pointer animated")
					li
						| digital<br> production 
						img(src="../img/pointer.png" class="pointer animated")
					li
						| Lorem1<br> lorem ipsum.
						img(src="../img/pointer.png" class="pointer animated")
					li
						| Lorem2<br> lorem ipsum.
						img(src="../img/pointer.png" class="pointer animated")
					li
						| Lorem3<br> lorem ipsum.
						img(src="../img/pointer.png" class="pointer animated")