.loader.loader-page
	.loader-in
		| Loading
		span

.other-services
	p Looking for other services?
	p
		a(href="#") find it here
		img(src="../img/pointer.png", alt="" class="point")

.row.fadeIn.animated

	.fixed-text
		| agency
		.text.active-social-page

	.col-sm-4.left-col.left-col-social
		.row
			.container.l-wrap
				.l-mid-1
					p social ...
				.l-mid-2
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam in modi, labore, tempora facilis dolorem. Veniam quam corporis ullam, assumenda velit aliquam fugiat aspernatur labore
	.col-sm-8.right-col.right-col-social
		.row.align-items-center.no-gutters
			.r-wrap
				.tweet.container-fluid
					.row
						.col-8
							p 93 agency, 21 april
						.col-4
							p 1,961 Tweet`s
						.col-12
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt expedita eos, error officiis excepturi voluptatum!.wrap
				.tweet.container-fluid
					.row
						.col-8
							p 93 agency, 6 may
						.col-4
							p 984 Tweet`s
						.col-12
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt expedita eos, error officiis excepturi voluptatum!.wrap
				.tweet.container-fluid
					.row
						.col-8.
							p 93 agency, 27 april
						.col-4
							p 2,384 Tweet`s
						.col-12
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt expedita eos, error officiis excepturi voluptatum!
				.tweet.container-fluid
					.row
						.col-8
							p 93 agency, 6 may
						.col-4
							p 19984 Tweet`s
						.col-12
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia voluptatibus ducimus facere voluptates excepturi porro, quaerat, sit voluptatum, maiores facilis culpa.
				.tweet.container-fluid
					.row
						.col-8
							p 93 agency, 6 may
						.col-4
							p 3844 Tweet`s
						.col-12
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quis iure vero culpa a molestiae ipsum veritatis sunt saepe facere nostrum neque facilis quisquam cupiditate alias.
				.tweet.container-fluid
					.row
						.col-8
							p 93 agency, 6 may
						.col-4
							p 9841 Tweet`s
						.col-12
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur illum commodi laboriosam ipsum mollitia veritatis natus modi aliquam voluptas nam ea dicta, et, voluptates ut nesciunt saepe fugiat impedit illo quisquam. Nulla mollitia ab iure!	