.loader
	.loader-in
		| Loading
		span

.row.fadeIn.animated

	.fixed-text
		| agency
		.text.active-contact-page

	.col-lg-4.col-md-4.left-col.left-col-contact
		.row
			.container.l-wrap
				.l-top
				.l-mid-1
					p
						| contact ...
				.l-mid-2
					p
						| Sed do eiusmod	tempor incididunt ut Lorem ipsum dolor sit amet, consectetur adipisicing elit
				.other-services
					p
						|Looking for other services?
					p
						a(href="#") find it here
						img(src="../img/pointer.png", alt="" class="point")
	.col-lg-8.col-md-8.right-col.right-col-contact
		.row.align-items-center.row-100vh
			.wrap
				.item
					p 93 Agency
					p 907 Honey Creek Dr.
						br 
						| New York, NY 10028
						br 
						| 01 43 25 00 76
				.item
					p Our other sites
					p
						a(href="#") behance.net
						br
						a(href="#") talkbehance.net
						br
						a(href="#") powerpoint-expert.com
				.item
					p Our partner sites
					p
						a(href="#") rockstar.com
						br
						a(href="#") blackstar
						
				.item
					p Subscribe to our newsletter
					form 
						fields
							.group
								input(type="text" required)
								label Name
							button.send(type="submit") send the massage
							img(src="../img/pointer.png", alt="" class="point")
