.col-lg-4.col-md-4.left-col.left-col-offer.fadeIn.animated.fadeIn.animated
	.row
		.container.l-wrap
			.l-top
			.l-mid-1
				p(class="offer")
					|what we're good at ...
			.l-mid-2
				p(class="offer")
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut
.col-lg-8.col-md-8.right-col.right-col-offer.fadeIn.animated
	.row.align-items-center.row-100vh
		ul
			li
				| editoriale<br> and writing 
				img(src="../img/pointer.png" class="pointer animated")
			li
				| powerpoint<br> and animation 
				img(src="../img/pointer.png" class="pointer animated")
			li
				| audio and video<br> production 
				img(src="../img/pointer.png" class="pointer animated")
			li
				| digital<br> production 
				img(src="../img/pointer.png" class="pointer animated")