.col-lg-4.col-md-4.left-col.left-col-social.fadeIn.animated
	.row
		.container.l-wrap
			.l-top
			.l-mid-1
				p(class="social")
					| social ...
			.l-mid-2
				p(class="social")
					| Sit voluptatem accusantium doloremque laudantium, totam rem 
.col-lg-8.col-md-8.right-col.right-col-social.fadeIn.animated
	.row.align-items-center.row-100vh
		.pro
			.tweet.container-fluid
				.row
					.col-md-9
						p
							| 93 agency,27.april
					.col-md-3
						p
							| 1,984 Tweet`s
						img(src="", alt="")
					.col-md-12
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt expedita eos, error officiis excepturi voluptatum!
			.tweet.container-fluid
				.row
					.col-md-9
						p
							| 93 agency,27.april
					.col-md-3
						p
							| 1,984 Tweet`s
						img(src="", alt="")
					.col-md-12
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt expedita eos, error officiis excepturi voluptatum!
			.tweet.container-fluid
				.row
					.col-md-9
						p
							| 93 agency,27.april
					.col-md-3
						p
							| 1,984 Tweet`s
						img(src="", alt="")
					.col-md-12
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt expedita eos, error officiis excepturi voluptatum!					
				