.loader.loader-page
	.loader-in
		| Loading
		span

.other-services
	p
		|Looking for other services?
	p
		a(href="#") find it here
		img(src="../img/pointer.png", alt="" class="point")

.row.fadeIn.animated

	.fixed-text
		| agency
		.text.active-social-page

	.col-sm-4.col-md-4.left-col.left-col-social
		.row
			.container.l-wrap
				//- .l-top
				.l-mid-1
					p social ...
				.l-mid-2
					p Sit voluptatem accusantium doloremque laudantium, totam rem
	.col-sm-8.col-md-8.right-col.right-col-social
		.row.align-items-center.row-100vh
			.r-wrap
				.tweet.container-fluid
					.row
						.col-8.col-md-9
							p 93 agency, 21 april
						.col-4.col-md-3
							p 1,961 Tweet`s
						.col-md-12
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt expedita eos, error officiis excepturi voluptatum!.wrap
				.tweet.container-fluid
					.row
						.col-8.col-md-9
							p 93 agency, 6 may
						.col-4.col-md-3
							p 984 Tweet`s
						.col-md-12
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt expedita eos, error officiis excepturi voluptatum!.wrap
				.tweet.container-fluid
					.row
						.col-8.col-md-9
							p 93 agency, 27 april
						.col-4.col-md-3
							p 2,384 Tweet`s
						.col-md-12
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt expedita eos, error officiis excepturi voluptatum!
									
					