.loader.loader-page
	.loader-in
		| Loading
		span

.other-services
	p
		|Looking for other services?
	p
		a(href="#") find it here
		img(src="../img/pointer.png", alt="")

.row.fadeIn.animated

	.fixed-text
		| agency
		.text.active-social-page

	.col-lg-4.col-md-4.left-col.left-col-social
		.row
			.container.l-wrap
				.l-top
				.l-mid-1
					p
						| social ...
				.l-mid-2
					p
						| Sit voluptatem accusantium doloremque laudantium, totam rem
	.col-lg-8.col-md-8.right-col.right-col-social
		.row.align-items-center.row-100vh
			.wrap
				.tweet.container-fluid
					.row
						.col-md-9
							p
								| 93 agency,27.april
						.col-md-3
							p
								| 1,984 Tweet`s
							img(src="", alt="")
						.col-md-12
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt expedita eos, error officiis excepturi voluptatum!
				.tweet.container-fluid
					.row
						.col-md-9
							p
								| 93 agency,27.april
						.col-md-3
							p
								| 1,984 Tweet`s
							img(src="", alt="")
						.col-md-12
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt expedita eos, error officiis excepturi voluptatum!
				.tweet.container-fluid
					.row
						.col-md-9
							p
								| 93 agency,27.april
						.col-md-3
							p
								| 1,984 Tweet`s
							img(src="", alt="")
						.col-md-12
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt expedita eos, error officiis excepturi voluptatum!					
					